{% extends "SoftlogoCMSBundle::Layout.html.twig" %}
{% block content%}	
<div class="full_page_photo" style="background-image: url(images/services.jpg);">
     <div class="container">
          <section class="call_to_action">
               <h3 class="animated bounceInDown skincolored">we design <strong>value</strong> into profit</h3>
               <br>
               <h4 class="animated bounceInUp">our <strong>customers</strong> are always <strong>happy</strong>!</h4>
          </section>
     </div>
</div>
	{{ render_block({'name':'header'}) }}
	{{ render_block({'name':'content'}) }}
	{{ render_block({'name':'sections'}) }}
{%endblock%}
