<section>
<div class="container">
	<div class="content-divider"></div>
	<div class="row">
		<div class="col-lg-8 col-offset-2">
			<h1 class="text-center">Try Syndicate for free!</h1>
			<p class="text-center"><small>These are flat, all-inclusive fees for system access, regular upgrades and support.</small></p>
		</div>
		<div class="col-lg-4 col-sm-4">
			<div class="pricing-table gray">
				<h4>$0<sup>.00</sup> / Free</h4>
			</div>
			<div class="pricing-table">
				<p><strong>1</strong> Email Addresses<br><br>
				<strong>2GB</strong> Disk Space<br><br>
				<strong>1</strong> MySQL Databases<br><br>
				<strong>1</strong> Domains<br><br>
				<strong>Free</strong> Billing Systems<br><br></p>
				<p><a class="btn btn-default" href="#">Free Trial</a></p>
			</div>
		</div>
		<div class="col-lg-4 col-sm-4">
			<div class="pricing-table purple">
				<h4>$29<sup>.99</sup> / Monthly</h4>
			</div>
			<div class="pricing-table">
				<p><strong>20 </strong> Email Addresses<br><br>
				<strong>80GB</strong> Disk Space<br><br>
				<strong>10</strong> MySQL Databases<br><br>
				<strong>10</strong> Domains<br><br>
				<strong>Free</strong> Billing Systems<br><br></p>
				<p><a class="btn btn-fancy" href="#">Sign Up</a></p>
			</div>
		</div>
		<div class="col-lg-4 col-sm-4">
			<div class="pricing-table gray">
				<h4>€99<sup>.99</sup> / Year</h4>
			</div>
			<div class="pricing-table">
				<p><strong>Unlimited</strong> Email Addresses<br><br>
				<strong>120GB</strong> Disk Space<br><br>
				<strong>Unlimited</strong> MySQL Databases<br><br>
				<strong>Unlimited</strong> Domains<br><br>
				<strong>Free</strong> Billing Systems<br><br></p>
				<p><a class="btn btn-default" href="#">Contact Us</a></p>
			</div>
		</div>
	</div>
</div>
</section>
