
<div class="col-lg-2">
<a href="" target="blank"><img src="/img/klienci/amberpol.png" alt="" class="img-responsive"></img></a>
</div>
<div class="col-lg-2">
<a href="" target="blank"><img src="/img/klienci/bw.png" alt="" class="img-responsive"></img></a>
</div>
<div class="col-lg-2">
<a href="" target="blank"><img src="/img/klienci/dental.png" alt="" class="img-responsive"></img></a>
</div>
<div class="col-lg-2">
<a href="" target="blank"><img src="/img/klienci/fleksoserwis.png" alt="" class="img-responsive"></img></a>
</div>
<div class="col-lg-2">
<a href="" target="blank"><img src="/img/klienci/intramag.png" alt="" class="img-responsive"></img></a>
</div>
<div class="col-lg-2">
<a href="" target="blank"><img src="/img/klienci/janinaart.png" alt="" class="img-responsive"></img></a>
</div>
<div class="col-lg-2">
<a href="" target="blank"><img src="/img/klienci/lubin.png" alt="" class="img-responsive"></img></a>
</div>
<div class="col-lg-2">
<a href="" target="blank"><img src="/img/klienci/magnumparket.png" alt="" class="img-responsive"></img></a>
</div>
<div class="col-lg-2">
<a href="" target="blank"><img src="/img/klienci/mosaicdesign.png" alt="" class="img-responsive"></img></a>
</div>
<div class="col-lg-2">
<a href="" target="blank"><img src="/img/klienci/rumia.png" alt="" class="img-responsive"></img></a>
</div>
<div class="col-lg-2">
<a href="" target="blank"><img src="/img/klienci/smil.png" alt="" class="img-responsive"></img></a>
</div>
<div class="col-lg-2">
<a href="" target="blank"><img src="/img/klienci/steelarte.png" alt="" class="img-responsive"></img></a>
</div>
<div class="col-lg-2">
<a href="" target="blank"><img src="/img/klienci/tado.png" alt="" class="img-responsive"></img></a>
</div>
<div class="col-lg-2">
<a href="" target="blank"><img src="/img/klienci/unitherm.png" alt="" class="img-responsive"></img></a>
</div>



		
