<section id="first-header" class="header slider-header" data-start="opacity: 1;" data-550="opacity: 0;">
<h1>Strony responsywne</h1>
<div id="carousel_header_1" class="carousel slide fadeing">
	<div class="carousel-inner">
		<div class="active item">
			<img class="img-responsive" width="" src="/img/photodune.png" alt="">
		</div>
		<div class="inactive item">
			<img class="img-responsive" width="" src="/img/dynamic-websites2.png" alt="">
		</div>
	</div>
	<button class="left carousel-control" href="#carousel_header_1" data-slide="prev" data-start="left: 0%;" data-550="left: 10%;"><i class="icon-chevron-left"></i></button>
	<button class="right carousel-control" href="#carousel_header_1" data-slide="next" data-start="right: 0%;" data-550="right: 10%;"><i class="icon-chevron-right"></i></button>
</div>
</section>
