<section id="first" class="content">
<div class="container">

	<div class="row">
		<div class="col-lg-6">
			<h1>Dobrze zaprojektowana strona internetowa</h1>
			<p class="lead">Każdej firmie proponujemy indywidualne rozwiązanie, najlepiej dopasowane do konkretnych potrzeb.
			Projektując stronę internetową lub sklep, kładziemy nacisk by oddać produkt, który uwzględnia
			sposób działania naszego klienta, jego oczekiwania i wymagania branży. Nasze aplikacje projektujemy
			wykorzystując autorski framework oraz wiodące rozwiazania open source. Dzięki temu jestesmy w
			stanie sprostać bardzo różnym wymaganiom.
			Nasz zespół, pracę nad każdym projektem traktuje jako wyzwanie. Zawsze staramy się by efekt naszej
			pracy w stu procentach spełniał oczekiwania przyszłego u yżytkownika.
			</p>
		</div>
		<div class="col-lg-6 icons">
			<div class="row">
				<div class="col-lg-6 col-sm-6">
					<i class="icon-star-empty" data-bottom-center="font-size: 0px;" data-center-top="font-size: 52px;"></i>
					<h3>Poprawnie zbudowana</h3>
					<p><small> Wpływa to w znaczącym stopniu na bycie widzialnym w sieci i dotarcie do klienta. Strona taka szybko się wczytuje, a także wygląda dobrze pod wszystkimi przeglądarkami. </small></p>
				</div>
				<div class="col-lg-6 col-sm-6">
					<i class="icon-pencil" data-bottom-center="font-size: 0px;" data--100-center-top="font-size: 52px;"></i>
					<h3>Często aktualizowana</h3>
					<p><small> Daje możliwość szybkiego i wygodnego aktualizowania zamieszczonych treści. Na Twojej stronie będą zawsze aktualne informacje. </small></p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-sm-6">
					<i class="icon-refresh" data-bottom-center="font-size: 0px;" data-center-top="font-size: 52px;"></i>
					<h3>Udostępnia dane kontaktowe</h3>
					<p><small>Firmowa witryna wśród kooperantów pełni rolę "książki adresowej".Nowi klienci korzystają z zamieszczonej w kontakcie mapki w celu sprawdzenia w wygodny sposób adresu przedsiębiorstwa.</small></p>
				</div>
				<div class="col-lg-6 col-sm-6">
					<i class="icon-font" data-bottom-center="font-size: 0px;" data--100-center-top="font-size: 52px;"></i>
					<h3>Estetyczna i czytelna</h3>
					<p><small>Pozwala odwiedzającemu szybko znaleźć interesujące go informacje, a także zainteresować go naszą ofertą. Pierwsze wrażenie buduje prestiż, a często jest główną przesłanką podjęcia kontaktu.</small></p>
				</div>
			</div>
		</div>
		<div class="col-lg-12 col-sm-12">
			<p class="lead">Każdy projekt jest indywidualnie wyceniany, zależnie od stopnia skomplikowania oraz
			elementów wchodzących w skład zamówienia. Poniżej prezentujemy pakiety START
			oraz PREMIUM, które są korzystne z względu na niższ cenę niż podczas oddzielnego
			zamawiania poszczególnych składników.</p>
		</div>
	</div>
	<div class="content-divider"></div>
	<div class="row">
		<!--start #1 -->
		<div class="col-lg-6">
			<div id="carousel_content" class="carousel slide fadeing">
				<div class="carousel-inner">
					<div class="active item">

						<img class="img-responsive" width="" src="/img/photodune.png" alt="">

					</div>
					<div class="inactive item">
						<img class="img-responsive" src="http://placehold.it/570x345" alt="">
					</div>
				</div>
	<button class="left carousel-control" href="#carousel_content" data-slide="prev"><i class="icon-chevron-left"></i></button>
	<button class="right carousel-control" href="#carousel_content" data-slide="next"><i class="icon-chevron-right"></i></button>
			</div>
		</div>
		<div class="col-lg-6">
			<h1>Pakiet Start</h1>
			<p class="lead">Pakiet ten zawiera najczęściej wybierane elementy komunikacji wizualnej,
			umożliwia uzyskanie jednolitego i profesjonalnego wizerunku firmy.<br><br>

			<small>Skontaktuj się z nami: tel. 792775785. Przeprowadzimy dla
				Ciebie bezpłatną wycenę</small>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 col-sm-4">
			<div class="row">
				<div class="col-lg-2 col-sm-2">
					<span class="icon-stack">
						<i class="icon-heart icon-dark" data-bottom-center="font-size: 5em; opacity: 0;" data--200-bottom-bottom="font-size: 1.4em; opacity: 1;"></i>
					</span>
				</div>
				<div class="col-lg-10 col-sm-10">
					<h3>Projekt graficzny</h3>
					<p><small>Indywidualnie zaprojektowana szata graficzna. Dodatkowy projekt gratis.</small></p>
				</div>
				<div class="col-lg-2 col-sm-2">
					<span class="icon-stack">
						<i class="icon-ok icon-dark" data-bottom-center="font-size: 5em; opacity: 0;" data--200-bottom-bottom="font-size: 1.4em; opacity: 1;"></i>
					</span>
				</div>
				<div class="col-lg-10 col-sm-10">
					<h3>Optymalizacja SEO</h3>
					<p><small>Strona internetowa jest zoptymalizowana pod kątem wyszukiwarek internetowych.</small></p>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-sm-4">
			<div class="row">
				<div class="col-lg-2 col-sm-2">
					<span class="icon-stack">
						<i class="icon-edit icon-dark" data-bottom-center="font-size: 5em; opacity: 0;" data--200-bottom-bottom="font-size: 1.4em; opacity: 1;"></i>
					</span>
				</div>
				<div class="col-lg-10 col-sm-10">
					<h3>System CMS</h3>
					<p><small>Wygodny system CMS pozwalający na aktualizację treści podstron, obrazków, plików pdf.</small></p>
				</div>
				<div class="col-lg-2 col-sm-2">
					<span class="icon-stack">
						<i class="icon-wrench icon-dark" data-bottom-center="font-size: 5em; opacity: 0;" data--200-bottom-bottom="font-size: 1.4em; opacity: 1;"></i>
					</span>
				</div>
				<div class="col-lg-10 col-sm-10">
					<h3>Obsługa techniczna</h3>
					<p><small>Hosting wraz z bezpłatną obsługą techniczną strony internetowej.</small></p>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-sm-4">
			<div class="row">
				<div class="col-lg-2 col-sm-2">
					<span class="icon-stack">
						<i class="icon-html5 icon-dark" data-bottom-center="font-size: 5em; opacity: 0;" data--200-bottom-bottom="font-size: 1.4em; opacity: 1;"></i>
					</span>
				</div>
				<div class="col-lg-10 col-sm-10">
					<h3>HTML5 & CSS3</h3>
					<p><small>Stosujemy technologie HTML% i CSS3. Strona jest poprawnie wyświetlana na wszystkich nowoczesnych przeglądarkach.</small></p>
				</div>
				<div class="col-lg-2 col-sm-2">
					<span class="icon-stack">
						<i class="icon-tablet icon-dark" data-bottom-center="font-size: 5em; opacity: 0;" data--200-bottom-bottom="font-size: 1.4em; opacity: 1;"></i>
					</span>
				</div>
				<div class="col-lg-10 col-sm-10">
					<h3>Responsywność</h3>
					<p><small>Strona jest poprawnie wyświetlana na urzadzeniach mobilnych: tablety, smartfony.</small></p>
				</div>
			</div>
		</div>
	</div>
	<div class="content-divider"></div>
	<div class="row">

		<div class="col-lg-8 margin">
			<h1>Pakiet Premium</h1>
			<p class="lead">
			Oferta dla wymagających. Strona internetowa z
			oferty PREMIUM ma nieograniczoną ilość podstron, 3
			indywidualnie zaprojektowane szaty graficzne do
			wyboru, z możliwoscią nieograniczonych poprawek.
			Może zawierać katalog produktów, możliwość
			składania zamówień , system rezerwacji, system crm i
			inne.
			<br />
			<br />

			<small>Skontaktuj się z nami: tel. 792775785. Przeprowadzimy dla
				Ciebie bezpłatną wycenę</small></p>
		</div>
		<div class="col-lg-4">
			<div id="carousel_content" class="carousel slide fadeing">
				<div class="carousel-inner">
					<div class="active item">

						<img class="img-responsive" width="" src="/uploads/media/default/0001/01/thumb_11_default_large.jpeg" alt="">

					</div>
					<div class="inactive item">
						<img class="img-responsive" src="http://placehold.it/570x345" alt="">
					</div>
				</div>
				<!--
				-<button class="left carousel-control" href="#carousel_content" data-slide="prev"><i class="icon-chevron-left"></i></button>
				-<button class="right carousel-control" href="#carousel_content" data-slide="next"><i class="icon-chevron-right"></i></button>
				-->
			</div>
		</div>
	</div>
</div>
</section>
