<section id="galeria" class="">
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-offset-2 center">
			<h2>Realizacje</h2>	
		</div>
		<div class="col-lg-12">
			<div class="row">
				<ul class="grid">
				{% for section in entity.sections %}
					<li class="col-lg-3 col-sm-4">
					<a href="#gallery_{{section.title}}" role="button" data-toggle="modal">
						<figure>
						{% media section.firstsectionmedia.media, 'big' with {'class': 'img-responsive'} %}
						<figcaption>
						<h4>{{section.title}}</h4>
						<span>July 23, 2013</span>
						</figcaption>
						</figure>
					</a>
					</li>
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
</section>
