
	<div class="row">
		{% for article in entity.articles%}
		<div class="col-lg-4 col-sm-4">
			<div class="row">
				<div class="col-lg-2 col-sm-2">
					<span class="icon-stack">
						<i class="icon-{{article.type.value}} icon-dark" data-bottom-center="font-size: 5em; opacity: 0;" data--200-bottom-bottom="font-size: 1.4em; opacity: 1;"></i>
					</span>
				</div>
				<div class="col-lg-10 col-sm-10">
					{{article.content|raw}}
				</div>
			</div>
		</div>
		{%endfor%}
	</div>
