<section id="intro" class="mainpage">
<div id="carousel_intro" class="carousel slide fadeing">
	<div class="carousel-inner">
		<div class="active item" id="slide_1" data-start="background-position: center 0px;" data-1440="background-position: center -250px;">

			<div class=bannerspan data-start="opacity:1; top: 20%;" data-250="opacity: 0; top: 20%;">
				<center>
					<div class="box " style="width:450px;">
						<h1 class="" data-start="opacity:1; top: 6%;" data-250="opacity: 0; top: 10%;">Strony internetowe
							<br/>
							oraz
							<br />
							identyfikacja wizualna	
						</h1>
					</div>

					<div data-start="opacity:1; top: 0%;" data-250="opacity: 0; top: 20%;" class="box" style="width:450px;top:10%;">
						<br />
						<br />
						<br />
						<br />

						<img src="/img/headers/unitherm-m.png" alt="" width=450 />
					</div>
				</center>


			</div>


		</div>
		<div class="inactive item" id="slide_2" data-start="background-position: center 0px;" data-1440="background-position: center -250px;">
			<div class=bannerspan data-start="opacity:1; top: 20%;" data-250="opacity: 0; top: 10%;">
				<center>
					<div class="box" style="width:700px;">
						<h1 class="white">Responsywne serwisy internetowe</h1>
					</div>

					<div class="box mobile" style="width:350px;right:24%;">
						<img src="/img/headers/flekso_m.png" alt="" />  
					</div>	
				</center>





			</div>
		</div>
		<div class="inactive item" id="slide_3" data-start="background-position: center 0px;" data-1440="background-position: center -250px;">
			<div class=bannerspan data-start="opacity:1; top: 20%;" data-250="opacity: 0; top: 10%;">
				<center>
					<div class="box" style="width:400px;">
						<h1 class="white">Aplikacje E-Commerce</h1>
					</div>

					<div class="box" style="width:550px;">
						<img src="/img/headers/tado_b2.png" width=550 alt="" />
					</div>	
				</center>





			</div>
		</div>
		<!--<div class="inactive item" id="slide_3" data-start="background-position: center 0px;" data-1440="background-position: center -250px;">-->
			<!--<h1 data-start="opacity:1; top: 20%;" data-250="opacity: 0.9; top: 10%;"><div class="white2"></div>[><img src="/img/headers/white.png" alt="" height=400 class="white"/><]<img src="/img/headers/tado_b2.png" height=450 alt="" /></h1>-->
			<!--</div>-->
	</div>
	<button class="left carousel-control" href="#carousel_intro" data-slide="prev" data-start="opacity: 0.6; left: 0%;" data-250="opacity:0; left: 5%;"><i class="icon-chevron-left"></i></button>
	<button class="right carousel-control" href="#carousel_intro" data-slide="next" data-start="opacity: 0.6; right: 0%;" data-250="opacity:0; right: 5%;"><i class="icon-chevron-right"></i></button>
</div>
<div class="hidden-sm more">
	<a href="#services" class="btn btn-cool squared" data-start="opacity:1; margin-top: 0%;" data-150="opacity:0; margin-top: -10%;"><i class="icon-angle-down"></i> Zobacz więcej</a>
</div>
</section>

