<section id="intro">
<div id="carousel_intro" class="carousel slide fadeing">
	<div class="carousel-inner">
		<div class="active item" id="slide_about_1" data-start="background-position: center 0px;" data-1440="background-position: center -250px;">
			<h1 data-start="opacity:1; top: 45%;" data-250="opacity: 0; top: 10%;">Projektujemy z pasją <i class="icon-heart"></i> ale głównie <i class="icon-coffee"></i> dla przyjemności</h1>
		</div>
		<div class="inactive item" id="slide_about_2" data-start="background-position: center 0px;" data-1440="background-position: center -250px;">
			<h1 data-start="opacity:1; top: 45%;" data-250="opacity: 0; top: 10%;">Razem stworzymy Twoje miejsce <i class="icon-globe"></i> w Internecie</h1>
		</div>
	</div>
	<button class="left carousel-control" href="#carousel_intro" data-slide="prev" data-start="opacity: 0.6; left: 0%;" data-250="opacity:0; left: 5%;"><i class="icon-chevron-left"></i></button>
	<button class="right carousel-control" href="#carousel_intro" data-slide="next" data-start="opacity: 0.6; right: 0%;" data-250="opacity:0; right: 5%;"><i class="icon-chevron-right"></i></button>
</div>
<div class="hidden-sm more">
	<a href="#onas" class="btn btn-cool squared" data-start="opacity:1; margin-top: 0%;" data-150="opacity:0; margin-top: -10%;"><i class="icon-angle-down"></i> Więcej o nas</a>
</div>
</section>
