<div class="content-divider"></div>
	<div class="row">
		<!--start #1 -->
		<div class="col-lg-6">
			<div id="carousel_content" class="carousel slide fadeing">
				<div class="carousel-inner">

					<div class="active item">
						{% media entity.firstSectionMedia.media, 'large' with {'class': 'img-responsive'} %}

					</div>
					{% for sm in entity.lastSectionMedias %}
					<div class="inactive item">
						{% media sm.media, 'large' with {'class': 'img-responsive'} %}
					</div>
					{%endfor%}
				</div>
	<button class="left carousel-control" href="#carousel_content" data-slide="prev"><i class="icon-chevron-left"></i></button>
	<button class="right carousel-control" href="#carousel_content" data-slide="next"><i class="icon-chevron-right"></i></button>
			</div>
		</div>
		<div class="col-lg-6">
			<h1>Pakiet Start</h1>
			<p class="lead">Pakiet ten zawiera najczęściej wybierane elementy komunikacji wizualnej,
			umożliwia uzyskanie jednolitego i profesjonalnego wizerunku firmy.<br><br>

			<small>Skontaktuj się z nami: tel. 792775785. Przeprowadzimy dla
				Ciebie bezpłatną wycenę</small>
			</p>
		</div>
	</div>
		{% for section in entity.sections %}
		{{ render_section({'entity':section}) }}
		{% endfor %}
	<div class="content-divider"></div>

