
	<div class="row">

		<div class="col-lg-8 margin">
			<h1>Pakiet Premium</h1>
			<p class="lead">
			Oferta dla wymagających. Strona internetowa z
			oferty PREMIUM ma nieograniczoną ilość podstron, 3
			indywidualnie zaprojektowane szaty graficzne do
			wyboru, z możliwoscią nieograniczonych poprawek.
			Może zawierać katalog produktów, możliwość
			składania zamówień , system rezerwacji, system crm i
			inne.
			<br />
			<br />

			<small>Skontaktuj się z nami: tel. 792775785. Przeprowadzimy dla
				Ciebie bezpłatną wycenę</small></p>
		</div>
		<div class="col-lg-4">
			<div id="carousel_content" class="carousel slide fadeing">
				<div class="carousel-inner">
					<div class="active item">

						<img class="img-responsive" width="" src="/uploads/media/default/0001/01/thumb_11_default_large.jpeg" alt="">

					</div>
					<div class="inactive item">
						<img class="img-responsive" src="" alt="">
					</div>
				</div>
				<!--
				-<button class="left carousel-control" href="#carousel_content" data-slide="prev"><i class="icon-chevron-left"></i></button>
				-<button class="right carousel-control" href="#carousel_content" data-slide="next"><i class="icon-chevron-right"></i></button>
				-->
			</div>
		</div>
	</div>
