			<div class="row">
				<div class="col-lg-6 col-sm-6">
					<i class="icon-star-empty" data-bottom-center="font-size: 0px;" data-center-top="font-size: 52px;"></i>
					<h3>Poprawnie zbudowana</h3>
					<p><small> Wpływa to w znaczącym stopniu na bycie widzialnym w sieci i dotarcie do klienta. Strona taka szybko się wczytuje, a także wygląda dobrze pod wszystkimi przeglądarkami. </small></p>
				</div>
				<div class="col-lg-6 col-sm-6">
					<i class="icon-pencil" data-bottom-center="font-size: 0px;" data--100-center-top="font-size: 52px;"></i>
					<h3>Często aktualizowana</h3>
					<p><small> Daje możliwość szybkiego i wygodnego aktualizowania zamieszczonych treści. Na Twojej stronie będą zawsze aktualne informacje. Na Twojej stronie będą zawsze aktualne informacje. </small></p>
				</div>
				<div class="col-lg-6 col-sm-6">
					<i class="icon-refresh" data-bottom-center="font-size: 0px;" data-center-top="font-size: 52px;"></i>
					<h3>Udostępnia dane kontaktowe</h3>
					<p><small>Firmowa witryna wśród kooperantów pełni rolę "książki adresowej".Nowi klienci korzystają z zamieszczonej w kontakcie mapki w celu sprawdzenia w wygodny sposób adresu przedsiębiorstwa.</small></p>
				</div>
				<div class="col-lg-6 col-sm-6">
					<i class="icon-font" data-bottom-center="font-size: 0px;" data--100-center-top="font-size: 52px;"></i>
					<h3>Estetyczna i czytelna</h3>
					<p><small>Pozwala odwiedzającemu szybko znaleźć interesujące go informacje, a także zainteresować go naszą ofertą. Pierwsze wrażenie buduje prestiż, a często jest główną przesłanką podjęcia kontaktu.</small></p>
				</div>
			</div>
		
