



	<div class="row">
		<div class="col-lg-6 col-md-offset-3">
			<div class="row">
				{% for sm in entity.sectionMedias %}
				<div class="col-lg-4 col-sm-4">
					<img src="{% path sm.media, 'medium' %}" class="img-responsive img-circle fancy" data-bottom-top="opacity:0;" data-0-bottom="opacity:1;" alt="">
					<h3>{{sm.media.name}}</h3>
					<h5>{{sm.media.description}}</h5>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="divider"></div>
	<div class="row">
		<div class="col-lg-8 col-md-offset-2">
				{% for article in entity.articles %}
				<center>
				{{article.content|raw}}
				</center>
				{% endfor %}
		</div>
	</div>
	<div class="divider"></div>

