<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Wiadomość</title>
</head>
<body>
	<p>
		<strong>Wiadomosć ze strony Tapeciak.pl</strong>
	</p>
	<p><strong>Nadawca: </strong>{{email}}</p>
	<p>{{message}}</p>
	
</body>
</html>
