{% extends "SoftlogoCMSBundle:Page:page.html.twig" %}

{% block style %}	
{{parent()}}
<style type="text/css">
</style>
{% endblock %}	

{% block sections%}	

<section id="content" class="container">
{#
<div class="row">
	<div class="col-md-4">
		<a href="{{path('cms_galleries',{'site':app.request.get('site'),'id':rootCategory.id})}}">Powrót</a>
	</div>
</div>
#}
<div class="row">
	{% if categories.count>0%}
	{#
	<div class="col-md-12">
		<ul id="filters">
			<li><a href="gallery.html#" data-filter="*" class="selected">Wszystko</a></li>
			{% for category in categories %}
			<li><a href="gallery.html#" data-filter=".{{category.id}}">{{category.name}}</a></li>
			{% endfor %}
		</ul>

	</div>
	#}
	{% endif %}
</div>
<div class="row gallery">
	{% for media in medias %}
	<div class="col-md-3"><a href="{% path media, 'large'%}" class="gal"><img src="{% path media, 'medium'%}" class="img-responsive"><span></span></a></div>

	{% endfor %}
</div>
</section>


{%endblock%}
